{port_sources, ["c_src/*.c"]}.
{so_name, "egtm_worker.so"}.

{cover_enabled, false}.
{eunit_opts, [verbose]}.

{erl_opts, [

  %% Important for BEAM reconstruction!!!
  debug_info,

  %% Lager pre-compile transformation
  {parse_transform, lager_transform}
]}.

{deps, [
  %% Lager must be first because of Erlang form transformations
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {deepprops, ".*", {git, "https://github.com/keynslug/deepprops.git", "master"}},
  {folsom, ".*", {git, "https://github.com/boundary/folsom.git", "master"}}
]}.

{port_envs, [
  %% GT.M flags
  {".*", "gtm_dist", "/usr/lib/fis-gtm/V54002Bx64"},
  {".*", "LDFLAGS", "$LDFLAGS -I$gtm_dist -L$gtm_dist -Wl,-rpath -Wl,$gtm_dist -lgtmshr -lc"}
]}.

%% vim: fdm=syntax:fdn=3:tw=74:ts=2:syn=erlang
